
@import "compass/css3";

#logo{
    max-width: 200px;
}
h1{
    text-align: center;
    color: hotpink;
}

#title{
    text-align: center;
}

#pubtime{
    text-align: right;
}

#main{
    background-color: #fff;
    border-radius: 20px;
    /*width: 300px;
    height: 350px;*/
    margin: auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    /*left: 50%;
    top: 50%;*/
    /*transform: translate(-50%,-50%);*/
}